# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

/api/**/.travis.yml
/api/**/api/openapi.yaml
/api/**/git_push.sh
/api/**/go.mod
/api/**/go.sum
/api/client/javascript/.babelrc
/api/client/javascript/mocha.opts
/api/server/go/Dockerfile
/api/server/go/main.go
/cmd/agent/agent
/cmd/api/api
/cmd/api/assets/*
/cmd/checks/http/http
/cmd/checks/kubernetes-status/kubernetes-status
/cmd/plugins/drone/drone
/cmd/plugins/kubernetes-status/kubernetes-status
/development/caddy
/development/data
/vendor/
/api/client/javascript/package.json
